<!--The content below is only a placeholder and can be replaced.-->
<div class="input-form">
  <div>
    <button mat-raised-button (click)="convertInput()">生成图形</button>
    <input type="file" (change)="processFiles($event)" accept="file/*,.gd">
  </div>
  <textarea matInput class="input-textarea" style="width:100%;height: 100%;" [(ngModel)]="inputContent"></textarea>
</div>
<div id="content" appMouseWheel (mouseWheelUp)="mouseWheelUp($event)" (mouseWheelDown)="mouseWheelDown($event)"
  (mouseMove)="mouseMove($event)" class="svg-content" >
  <svg width="0" height="0" preserveAspectRatio="xMidYMid meet"></svg>
</div>
