.root {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border: 1px solid chartreuse;
}

.item-parent {
  width: 200px;
  padding: 10px;
  border: 1px solid chartreuse;
}

.root-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.item-parent-last {
  width: 400px;
  padding: 10px;
  border: 1px solid chartreuse;
}

.item-parent-first {
  padding: 10px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
